failed*
evernote.py
journal/
mongo.log
mongod.lock
mydb.*
paster.log
paster.pid
scanned_docs/.emacs.desktop
supervisord.conf
testdb/
.coverage
.vagrant
bin/
parts/
src/text_sentence/
tika-app-1.0.jar
var/
*.pyc
.*.cfg
