*.pyc
*.swp
.*.cfg
.coverage
.vagrant
bin/
docs/_build/
evernote.py
failed*
include/
journal/
lib/
local.cfg
man/
mongo.log
mongod.lock
mydb.*
parts/
paster.log
paster.pid
scanned_docs/.emacs.desktop
src/text_sentence/
supervisord.conf
testdb/
tika-app-1.0.jar
tika-app.jar
var/
